//red mode
// :root {

// }

//purple mode 

//fonts
$work:'Work Sans', sans-serif;
$spaceMono:'Space Mono', monospace;
$poppins:'Poppins', sans-serif;

//buttons
$frenchRose:#E95183;

$onyx:#3D3E41;
$leve-white:#FBFBFB;

//gradient
$clear-mode:linear-gradient(0deg, #B6174B 0%, #F56416 100%);

//#6622CC

